.card-bg:hover{
    box-shadow: 0px 20px 35px rgba(0,0,0,0.8);
    transform: translateY(-5px);
}
.card-bg{
    margin-top: 30px;
    border-radius: 25% 10%;
    text-align: center;
    border: 1px solid black;
}
.btn_n{
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-bottom-color: black;
    background-color: #508bfc;
    width: 200px;
}
.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 300px;
}
.circle-image img{
    width:100%; 
    height:100%;
    object-fit: cover;
}
.price{
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}