<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="uk"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/cart.css" type="text/css" th:href="@{/cart.css}">
  <title>PlayGame</title>
</head>

<body>
<main>
  <div class="container">
    <div th:replace="fragments/header :: header"></div>
<div class="cart">
        <div class="Cart-Container">

          <div class="Header">
            <h3 class="Heading">Кошик</h3>
            <h5 class="Action"><a th:href="@{/cart/clear/}">Очистити кошик</a></h5>
          </div>

          <div class="Cart-Items" th:each="products : ${products}">

            <div class="about">
              <h1 class="title" th:text="${products.getKey().getName()}"></h1>
              <h3 class="subtitle" th:text="${products.getKey().getDescription()}"></h3>
            </div>

            <div class="prices">
              <div class="amount" th:text="${products.getKey().getPrice()}"><h4>Грн</h4></div>
              <div class="remove">
                <a th:href="@{/cart/remove/{id}(id=${products.getKey().getId()})}">Вилучити</a>
              </div>
            </div>
          </div>
          <div class="totalPrice">
            <h3 th:text="${'Повна ціна: ' + totalPrice}"></h3>
          </div>

        </div>

  </div>
    <div th:replace="fragments/footer :: footer"></div>
  </div>
</main>
</body>

</html>